<div class="page2">
    <a href="JavaScript:;" class="a_kind">分类</a>
    <a href="JavaScript:;" class="a_city">全城</a>
    <a href="JavaScript:;" class="a_order">排序</a>
</div>
<div class="kind">
    <div class="city">全部</div>
    <div class="city">密室</div>
    <div class="city">沙地</div>

    <div class="city">淘气宝</div>
    <div class="city">蹦极</div>
    <div class="city">亲水</div>

    <div class="city">攀爬</div>
    <div class="city">电动</div>
    <div class="city">设施</div>
</div>




<div id="wrapper">
    <ul class="p2List"></ul>
</div>
